<div class="wrapper wrapper-flex">
    <aside class="aside">
        <div class="wrapper">
            <div class="text-center">
                <h1 class="aside__h1">Zbigniew Ostapowicz</h1>
                <!-- Swoje zdjęcie umieść w ./src/img i uruchom gulpa, by zoptymalizował je -->
                <!-- Jeśli nie używasz gulpa, wstaw zdjęcie do ./dist/img -->
                <img class="aside__img" src="../img/cv.jpg" alt="Photo">
            </div>
            <ul class="aside__list list">
                <li class="list__item">
                    <i class="fa fa-globe fa-fw list__icon"></i>
                    <a href="javascript:void(0) list__link">ZbigniewO.pl</a>
                </li>
                <li class="list__item">
                    <!-- wewnątrz href podaj adres e-mail poprzedzony mailto: -->
                    <!-- np. href="mailto:adres@domena.com" -->
                    <i class="fa fa-envelope fa-fw list__icon"></i>
                    <a class="list__link" href="mailto:zbigniewostapowicz1@gmail.com list__link">zbigniewostapowicz1@gmail.com</a>
                </li>
                <li class="list__item">
                    <i class="fa fa-phone fa-fw list__icon"></i> +48 666 666 666
                </li>
                <li class="list__item">
                    <i class="fa fa-map-marker fa-fw list__icon"></i> Białystok, Polska
                </li>
                <li class="list__item">
                    <i class="fa fa-calendar fa-fw list__icon"></i> 17.03.1985
                </li>
            </ul>
        </div>
        <div class="aside__social">
            <ul class="aside__list list">
                <li class="list__item">
                    <i class="fa fa-facebook fa-fw list__icon"></i>
                    <a class="list__link" target="blank" href="https://fb.com/zbigniew.ostapowicz">fb.com/zbigniew.ostapowicz</a>
                </li>
                <li class="list__item">
                    <i class="fa fa-linkedin fa-fw list__icon"></i>
                    <a class="list__link" target="blank" href="https://www.linkedin.com/in/zbigniew-ostapowicz-663859188/">linkedin.com/in/zbigniew-ostapowicz-663859188/</a>
                </li>
            </ul>
        </div>
    </aside>