 <main class="main">
     <h2 class="main__h2 experience">Doświadczenie zawodowe</h2>
     <ul class="main__list list">
         <li class="list__item">
             <strong>"Kamet" Grzegorz Dąbrowski</strong>
             <span class="pull-right">sierpień 2007 &ndash; listopad 2019</span>
             <div class="position">Pracownik obsługi klienta(stacja paliw ORLEN) </div>
             <div class="position-description">
                 Obsługa i kontakt z klientami wg standardów koncernu, przyjmowanie dostaw, wystawianie faktur, praca z
                 towarem,
                 kierowanie podległym personelem(jako kierownik zmiany), realizowanie planów sprzedażowych.
             </div>
         </li>
     </ul>

     <h2 class="main__h2 education">Edukacja</h2>
     <ul class="main__list list">
         <li class="list__item">
             <strong>Politechnika Białostocka</strong> <span class="pull-right">2018 &ndash; 2019</span>
             <div class="position">front-end development (podyplomowe)
             </div>
         </li>
         <li class="list__item">
             <strong>WSFiZ w Białymstoku</strong> <span class="pull-right">2008 &ndash; 2011</span>
             <div class="position"> finanse i rachunkowość, analityka finansowa (magisterskie)

             </div>
         </li>
         <li class="list__item">
             <strong>WSGN w Białymstoku</strong> <span class="pull-right">2005 &ndash; 2008</span>
             <div class="position"> ekonomia, zarządzanie nieruchomościami (licencjackie)

             </div>
         </li>
     </ul>

     <h2 class="main__h2 projects">Projekty
         <span class="pull-right github">
                    <i class="fa fa-github fa-fw"></i>
                    <a class="main__link" target="blank" href="https://github.com/ZbigniewOstapowicz">github.com/ZbigniewOstapowicz</a>
                </span>
     </h2>
     <ul class="main__list list">
         <li class="list__item">
             <strong><a class="main__link" href="https://github.com/ZbigniewOstapowicz/CurrencyCalculator" target="_blank">kalkulator walutowy</a></strong>
             <div class="position-description">
                 Prosty kalkulator walutowy, pobiera dane z api NBP i je przetwarza. Napisany w react.js.
             </div>
         </li>
         <li class="list__item">
             <strong><a class="main__link" href="https://github.com/ZbigniewOstapowicz/WeatherAppInReact" target="_blank">aplikacja pogodowa</a></strong>
             <div class="position-description">
                 Prosta aplikacja wyswietla pogodę w danym mieście, dane pobiera z api.
             </div>
         </li>
         <li class="list__item">
             <strong><a class="main__link" href="https://github.com/ZbigniewOstapowicz/Paint.js" target="_blank">aplikacja do rysowania</a></strong>
             <div class="position-description">
                 Aplikacja pozwalająca rysować różne krztałty, odzczytuje pliki graficzne i posiada możliwość edycji
                 oraz zapisu. Napisana w czystym JS wykorzystuje canvasa.
             </div>
         </li>
         <li class="list__item">
             <strong><a class="main__link" href="https://github.com/ZbigniewOstapowicz/Curriculum-Vitae" target="_blank">CV</a></strong>
             <div class="position-description">
                 Kod mojego CV
             </div>
         </li>
     </ul>

     <h2 class="main__h2 skills">Umiejętności</h2>
     <div class="skills__wrapper">
         <h3 class="main__h3">Programowanie</h3>
         <p class="skills__text">HTML, CSS, SASS, JavaScript, Bootstrap, jQuery, React.js, Vue.js, Node.js, MongoDB,
             podstawy SEO</p>
         <div class="container">
             <div class="col-1-2">
                 <h3 class="main__h3">Narzędzia</h3>
                 <p class="skills__text">Git, Node.js, gulp, webpack, Adobe XD, UXPin</p>
             </div>
             <div class="col-1-2">
                 <h3 class="main__h3">Języki</h3>
                 <ul class="main__list list">
                     <li class="list__item"><strong>Polski</strong> <span class="pull-right">język ojczysty</span></li>
                     <li class="list__item"><strong>Angielski</strong> <span class="pull-right">komunikatywny</span>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
 </main>
 </div>