@mixin round-icon {
    display: inline-block;
    color: #fff;
    background-color: #000;
    padding: 6px;
    margin: 0;
    border-radius: 50%;
    font-family: FontAwesome;
    margin: 0mm 2mm 0 -9mm;
    font-size: 22px;
    vertical-align: middle;
    border: 3px gray solid;
    width: 25px;
    height: 25px;

    @media print {
        color: $primary-black;
    }
}