.aside {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-basis: 28%;
    flex-direction: column;
    background-color: $secondary-color;
    color: $primary-white;
    padding: 3mm;

    @media print {
        background-color: $primary-white;
        color: $primary-black;
    }

    .aside__h1 {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .aside__img {
        border: 3px solid $primary-white;
        border-radius: 15%;
        height: 100%;
        margin-bottom: 25px;
        width: 75%;
    }

    .aside__list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .list__item {
            width: 225px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: start;


            .list__icon {
                margin-right: 10px;
                vertical-align: middle;

            }

            .list__link {
                display: inline-block;
                word-wrap: break-word;
                width: 70%;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .aside__social {
        font-size: 0.8rem;
    }
}